/*

<!-- {{{{ dzslides core
     #
     #
     #     __  __  __       .  __   ___  __
     #    |  \  / /__` |    | |  \ |__  /__`
     #    |__/ /_ .__/ |___ | |__/ |___ .__/ core :€
     #
     #
     # The following block of code is not supposed to be edited.
     # But if you want to change the behavior of these slides,
     # feel free to hack it!
     #
   -->
*/
 * { margin: 0; padding: 0; box-sizing: border-box; }
 [role="note"] { display: none; }
 html {
     font-size: 16px;
 }
 body {
     width: 800px; height: 600px;
     position: absolute; top: 50%; left: 50%;
     overflow: hidden;
     display: none;
 }
 .view body {
     position: static;
     margin: 0; padding: 0;
     width: 100%; height: 100%;
     display: inline-block;
     overflow: visible; overflow-x: hidden;
     /* undo Dz.onresize */
     transform: none !important;
 }
 .view head, .view head > title { display: block }
 section {
     position: absolute;
     pointer-events: none;
     width: 100%; height: 100%;
 }
 .view section {
     pointer-events: auto;
     position: static;
     width: 800px; height: 600px;
     margin: -150px -200px;
     float: left;

     transform: scale(.4);
 }
 .view section > * { pointer-events: none; }
 section[aria-selected] { pointer-events: auto; }
 html { overflow: hidden; }
 html.view { overflow: visible; }
 body.loaded { display: block; }
 .next:not([active]) {visibility: hidden; }
 #progress-bar{
     bottom: 0;
     position: absolute;
     transition: width 400ms linear 0s;
 }
 .view #progress-bar {
     display: none;
 }
 header {
     text-align: right;
     position: absolute;
     top: 0;
     width: 100%;
 }
 footer {
     text-align: right;
     position: absolute;
     bottom: 0;
     width: 100%;
 }
 .view header { display: none; }
 .view footer { display: none; }

 @media print {
     section {
         transition: none;
         transform: none;
         position: static;
         page-break-inside: avoid;
     }
     body { overflow: visible; }
     #progress-bar{ display:none; }
 }

 /*
  **************************************
    Uncomment the following for 16:9 slides
  **************************************

    html { font-size: 12px; }
    body { height: 450px; }
    .view section {
    height: 450px;
    margin: -140px -200px;
    transform: scale(.3);
    }
  */
